<div class="body">
  <header>
    <h1>BR Hack Night</h1>
  </header>
  <main>
    {{!-- When you click on the dot in the logo,
    toggleProperty of weatherSearch --}}
    <WeatherSearch
      class="{{if weatherSearchIsOpen "is-open"}}"
    />
    <BrhnLogo
      @onDotClick={{action "toggleWeatherSearch"}}
    />
    {{outlet}}
  </main>
</div>
